@import "tailwindcss";
@plugin "tailwind-scrollbar";

* {
    @apply scrollbar scrollbar-thumb-[oklch(1_.08_174/.8)];
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track{
    radius: 0;
    background: oklch(.7 0 0 / .2);
}

body {
    @apply bg-[oklch(0.3_0.02_274)];
}

.btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}


/* .anime-card {
    @apply max-w-sm rounded overflow-hidden shadow-lg gap-4;
} */

// colors
// green: text-[oklch(1_.08_174)] 
// pink: bg-[oklch(.7_.1_1.2)]
// bg: bg-[oklch(.3_.02_274)]