@import "tailwindcss";
@plugin "tailwind-scrollbar";

* {
    @apply scrollbar scrollbar-thumb-[oklch(1_.08_174/.8)];
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track{
    radius: 0;
    background: oklch(.7 0 0 / .2);
}

@theme{
    --color-shade-100:  oklch(0.1 0.02 274);
    --color-shade-200:  oklch(0.2 0.02 274);
    --color-shade-300:  oklch(0.3 0.02 274);
    --color-shade-400:  oklch(0.4 0.02 274);
    --color-shade-500:  oklch(0.5 0.02 274);
    --color-shade-600:  oklch(0.6 0.02 274);
    --color-shade-700:  oklch(0.7 0.02 274);
    --color-shade-800:  oklch(0.8 0.02 274);
    --color-shade-900:  oklch(0.9 0.02 274);

    --color-mist-100:  oklch(.60 0.08 174);
    --color-mist-200:  oklch(.65 0.08 174);
    --color-mist-300:  oklch(.70 0.08 174);
    --color-mist-400:  oklch(.75 0.08 174);
    --color-mist-500:  oklch(.80 0.08 174);
    --color-mist-600:  oklch(.85 0.08 174);
    --color-mist-700:  oklch(.90 0.08 174);
    --color-mist-800:  oklch(.95 0.08 174);
    --color-mist-900:  oklch(1 0.08 174);
}

body {
    @apply bg-[oklch(0.3_0.02_274)];
}

.btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  //overflow-x: hidden; /* prevent horizontal scroll */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}


/* .anime-card {
    @apply max-w-sm rounded overflow-hidden shadow-lg gap-4;
} */

// colors
// green: text-[oklch(1_.08_174)] 
// pink: bg-[oklch(.7_.1_1.2)]
// bg: bg-[oklch(.3_.02_274)]